@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer reset {
  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
  }
}
* {
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}
.font-courgette { font-family: Courgette; }